[submodule "Mango-Diary-JY"]
    path = Mango-Diary-JY
    url = git@github.com:DEV-TINO/Mango-Diary-JY.git

[submodule "Mango-Diary-MJ"]
   path = Mango-Diary-MJ
   url = git@github.com:DEV-TINO/Mango-Diary-MJ.git
